<style>
	.main-area{
		width: 80%;
		margin: 0 auto;
	}
	@media print {
		.main-area{
			width: 100%;
		}
		.table thead th {
			background-color: #dceff3!important;
		}
		.table tbody tr td {
			background-color: #dceff3!important;
		}
		.main-table-title{
			border:1px solid #37b1c6!important;
			border-top-left-radius: 20px;
			border-top-right-radius: 20px;
			border-bottom: none;
		}
		.tb-desc{
			width:200px!important;
		}
	}
	.invoice-user{
		width: 50%;
		float: left;
	}
	.table thead{
		background-color: #f1f1f9;
	}
	.logo-img{
		width: 200px;
	}
	.text-bold{
		font-weight: bold;
	}
	.overwidth{
		max-width: 200px;
	}
	.text-upper{
		text-transform: uppercase;
	}
	.total-area1{
		min-height: 55px;
		max-width: 220px;
		width: 220px;
		border:3px solid #37b1c6;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		border-bottom: none;
		background-color: #dceff3;
		position: relative;
	}
	.total-area3{
		min-height: 55px;
		max-width: 220px;
		width: 220px;
		border:3px solid #37b1c6;
		border-top: none;
		border-bottom: none;
		background-color: #37b1c6;
		position: relative;
	}
	.total-area2{
		min-height: 55px;
		max-width: 220px;
		width: 220px;
		border:3px solid #37b1c6;
		border-bottom-left-radius: 20px;
		border-bottom-right-radius: 20px;
		background-color: #dceff3;
		position: relative;
	}
	.total-text{
		position: absolute;
		top: 3px;
		left: 10px;
		font-size: 16px;
	}
	.total-value{
		position: absolute;
		bottom: -5px;
		right: 10px;
	}
	.divider-text{
		color:#37b1c6;
	}
	.divider-line{
		background-color: #37b1c6;
		min-height: 5px;
		min-width: 100px;
		max-width: 457px;
		margin-top: 6px;
	}
	.divider{
		background-color: #38a2e8;
		min-height: 5px;
		min-width: 100px;
		margin-top: 6px;
	}
	.main-table-title{
		border:1px solid #37b1c6;
		background-color: #dceff3;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		border-bottom: none;
	}
	.table-bordered td {
		border: 1px solid #37b1c6!important;
	}
	.table thead th, .text-wrap table thead th {
		border: 1px solid #37b1c6!important;
	}
	.table thead {
		background-color: #dceff3;
	}
	.table tbody {
		background-color: #dceff3;
	}
	.orig-text{
		font-size: 16px;
		padding-top: 3px;
		color: #fff;
	}
	.bottom-part1{
		min-height: 50px;
		border: 1px solid #37b1c6;
		background-color: #dceff3;
		border-bottom: none;
	}
	.bottom-part2{
		min-height: 50px;
		border: 1px solid #37b1c6;
		border-bottom-right-radius: 20px;
		border-bottom-left-radius: 20px;
		background-color: #dceff3;
	}
	.bottom-part1 i,.bottom-part2 i{
		font-size: 25px;
    	color: #37b1c6;
	}
	.border-right{
		border-right: 1px solid #37b1c6!important;
	}
	.col-md-1{
		min-width: 120px!important;
	}
</style>
<input type="hidden" id="chosen_id" value="<%= id %>" />
<input type="hidden" id="chosen_ptid" value="<%= ptid %>" />
<input type="hidden" id="cadjcheck" value="<%= cadjcheck %>" />
<input type="hidden" id="dadjcheck" value="<%= dadjcheck %>" />
<input type="hidden" id="copay" value="<%= copay %>" />
<input type="hidden" id="copay_adj" value="<%= copay_adj %>" />
<input type="hidden" id="deduct" value="<%= deduct %>" />
<input type="hidden" id="deduct_adj" value="<%= deduct_adj %>" />
<!-- ROW-1 OPEN -->
<div class="row mt-4 main-area">
	<div class="col-md-12">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-md-8">
						<h2 class="clinic-name text-bold"></h2>
						<p class = "clinic-address"></p>
						<p class = "clinic-city"></p>
						<p class="text-upper">Return Service Requested</p>
						<h4>Accounting : Precision Quality</h4>
						<div class="row mt-5">
							<div class="col-md-12"><div class="divider-line"></div></div>
						</div>
						<div class="row mt-5">
							<div class="col-auto"><h5 class="text-upper text-bold divider-text">Make Checks Payable To</h5></div>
						</div>
						<h3 class = "clinic-name text-bold mt-3"></h3>
						<div class="row mt-5">
							<div class="col-md-12"><div class="divider-line"></div></div>
						</div>
						<h4 class = "pt-name text-bold mt-3"></h4>
						<p class = "pt-address"></p>
						<p class = "pt-city"></p>
					</div>
					<div class="col-md-4">
						<div class="row">
							<div class="col-md-12">
								<img src="../assets/images/logo.jpg" class="logo-img">
							</div>
						</div>
						<div class="row mt-3">
							<div class="col-auto align-self-end">
								<div id="qrcode" style="width:80px"></div>
							</div>
							<div class="col-auto">
								<h5 class="clinic-name text-bold"></h5>
								<p class = "overwidth"><span class="clinic-address"></span><span class="clinic-city"></span></p>
							</div>
						</div>
						<div class="row mt-3">
							<div class="col-auto">
								<div class="total-area1">
									<p class="text-left text-bold total-text">Amount Due</p>
									<h3 class="text-right text-bold total-value">$<span class="totalamount"></span></h3>
								</div>
								<div class="total-area3">
									<div class="text-left text-bold pl-3 orig-text">Discount : <span class="discountper"></span>%</div>
									<div class="text-left text-bold pl-3 orig-text">Original : $<span class="oriamount"></span></div>
								</div>
								<div class="total-area2">
									<p class="text-left text-bold total-text">Due Date</p>
									<h5 class="text-left text-bold total-value">Upon Receipt</h5>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-md-12">
						<h5>Detach Here & Return Top Portion With Your Payment</h5>
						<div class="divider"></div>
					</div>
					<div class="col-md-12 mt-3">
						<div class="main-table-title">
							<div class="row">
								<div class="col-md-3 text-center">
									<p class="mt-3"><span class="text-bold">Patient : </span><span class="pt-name"></span></p>
								</div>
								<div class="col-md-3 text-center">
									<p class="mt-3"><span class="text-bold">Invoice # : </span><span class="inv-key"></span></p>
								</div>
								<div class="col-md-3 text-center">
									<p class="mt-3"><span class="text-bold">INS : </span><span class="ins-name"></span></p>
								</div>
								<div class="col-md-3 text-center">
									<p class="mt-3"><span class="text-bold">Statement Date : </span><span class="cdate"></span></p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="table-responsive">
							<table class="table table-bordered invoice-detail-table">
								<thead>
									<th class="text-center">Date</th>
									<th style="width: 120px!important;">Seen at</th>
									<th class="text-center">Description</th>
									<th class="text-right">Charges</th>
									<th class="text-right adj_area">Adj</th>
									<th class="text-right">Payment Balance</th>
									<th class="text-right">RMK Code</th>
								</thead>
								<tbody></tbody>
							</table>
						</div>
					</div>
					<div class="col-md-12">
						<div class="table-responsive">
							<table class="table table-bordered">
								<thead>
									<th class="text-center" style="width: 150px!important;">Patient Aged Balances</th>
									<th class="text-center">Total<div>$<span class="totalamount"></span></div></th>
									<th class="text-center">Current<div>$<span id="30_days">0.00</span></div></th>
									<th class="text-center">30 Days<div>$<span id="60_days">0.00</span></div></th>
									<th class="text-center">60 Days<div>$<span id="90_days">0.00</span></div></th>
									<th class="text-center">90 Days<div>$<span id="120_days">0.00</span></div></th>
									<th class="text-center">120+ Days<div>$<span id="over_days">0.00</span></div></th>
								</thead>
								<tbody></tbody>
							</table>
						</div>
						<p class="text-center">There is an overdue balance on your account. Please make payment immediately.</p>
					</div>
					<div class="col-md-12">
						<div class="bottom-part1">
							<div class="row ml-2 mr-2 mt-2">
								<div class="col-md-1 text-center">
									<div class="text-bold">Remarks</div>
									<i class="ti-hand-point-right"></i>
								</div>
								<div class="col-auto">
									<div class="row mr-2">
										<div class="col-md-12">
											40 Please call your insurance to update your infomation.
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="bottom-part2">
							<div class="row ml-2 mr-2 mt-2">
								<div class="col-md-1 text-center">
									<div class="text-bold">Contact Us</div>
									<i class="fa fa-phone"></i>
								</div>
								<div class="col-auto">
									<div class="row mr-2">
										<div class="col-md-12">
											Need further clarification? Call your rep at <span class="clinic-phone"></span><span class="clinic-ex"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer text-right no-print">
				<button type="button" class="btn btn-primary mb-1" id="sendsmsbtn"><i class="ti ti-mobile">&nbsp;</i>Send SMS</button>
				<button type="button" class="btn btn-success mb-1" id="sendemailbtn"><i class="ti ti-email">&nbsp;</i>Send Email</button>
				<button type="button" class="btn btn-info mb-1" onclick="javascript:window.print();"><i class="ti ti-printer">&nbsp;</i>Print PDF</button>
			</div>
		</div>
	</div>
</div>